@using Mosaic.DTO;
@using System.Reflection;
@{
    Layout = null;
    CompanyDataObject company = ViewBag.Company;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>美盛物流智能追踪系统</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <style>
        html, body {
            background-image: url("/images/006.jpg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
        }
        div {
            
            width:100%;
            height:100%;
        }
        h1 {
            font-size: 80px;
            margin-top: 200px;
            font-weight:bolder;
            color:#14131b;
            font-style:italic;
        }
        span {
            font-size: 40px;
            margin-top: 100px;
            font-weight: bolder;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>欢 迎 使 用---<span>美盛物流智能追踪系统</span></h1>
        
    </div>

</body>
</html>
